.title {
    color: red;
}

td {
   
    border : 1px solid black;
    padding: 5px;
    }

table {
    border-collapse: collapse;
}
td:nth-child(odd) {
    background-color: darkcyan;
    color: lightyellow;
}